*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFF
}

body{
    background-color: rgb(210, 202, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transform: rotate(15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 13px;
}

.container-box img {
    animation: zoom 1.5s infinite ease-in-out;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.container-btn{
    padding-top: 100px;
}

.btn {
    width: 100px;
    height: 30px;
    border: 3px solid #2a4772;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all ease;
}

.btn:hover {
    background-color: #1f6feb;
    border: 3px solid #161b22;
    transform: scale(0.9);
}

.postman {
    background-color: #ff6c36;
}

.github {
    background-color: #161b22;
}